* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: cursive;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }
}










/* HELPING PEOPLES */


.helpingpeoples img {

    /* Full height */
    height: 100%;
    width: 100%;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}


h2 {
    font-size: 2.6rem;
    color: orange;
    align-items: center;
    text-align: center;
    border: 3px solid blue;
    font-weight: bolder;
    border-radius: 50px;
}




/* ELDER PEOPLES FACING DISEASES */

.facingdiseas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 1.3rem;

}

@media(max-width: 1000px) {
    .facingdiseas {
        display: block;
        flex-direction: row;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.facingdiseas .cancer {
    border: 2px solid blueviolet;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
}

.facingdiseas .diabetes {
    border: 2px solid blueviolet;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
}

.facingdiseas .bonedisease {
    border: 2px solid blueviolet;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
}

.facingdiseas .cancer:hover {
    cursor: pointer;
    box-shadow: 5px 10px blueviolet;
}

.facingdiseas .diabetes:hover {
    cursor: pointer;
    box-shadow: 5px 10px blueviolet;
}

.facingdiseas .bonedisease:hover {
    cursor: pointer;
    box-shadow: 5px 10px blueviolet;
}

h3 {
    color: rgb(252, 98, 9);
    font-size: 2rem;
    display: block;
    justify-content: center;
    text-align: center;
}




/* CURES */

.cure {
    margin-bottom: 30px;
}

.cure .lists {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cure h2 {
    display: block;
    font-size: 2.6rem;
    color: orange;
    align-items: center;
    text-align: center;
    border: 3px solid blue;
    font-weight: bolder;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lists {
    font-family: cursive;
    font-size: 1.6rem;
}

.lists .water {
    border: 2px solid rgb(202, 21, 46);
    padding: 7px;
    margin: 10px;
    border-radius: 20px;
    text-align: justify;
    background-color: rgb(247 200 255);
    color: rgb(137 0 0);

}

.lists .water:hover {
    -webkit-box-shadow: 10px 10px 20px rgb(27 2 237);
    cursor: pointer;
}

.lists .exersize {
    border: 2px solid rgb(202, 21, 46);
    padding: 7px;
    margin: 10px;
    border-radius: 20px;
    text-align: justify;
    background-color: rgb(247 200 255);
    color: rgb(137 0 0);
}

.lists .exersize:hover {
    -webkit-box-shadow: 10px 10px 20px rgb(27 2 237);
    cursor: pointer;
}

.lists .yoga {
    border: 2px solid rgb(202, 21, 46);
    padding: 7px;
    margin: 10px;
    border-radius: 20px;
    text-align: justify;
    background-color: rgb(247 200 255);
    color: rgb(137 0 0);
}

.lists .yoga:hover {
    -webkit-box-shadow: 10px 10px 20px rgb(27 2 237);
    cursor: pointer;
}




/* MEDICINES */
.medicine {
    margin-top: 30px;
    margin-bottom: 30px;
}







/* FOOTER */

.footer {
    color: white;
    align-items: center;
    background-color: black;
    border-radius: 3px solid black;
    text-align: center;
    font-size: 22px;
    padding: 20px;
}